<h2>Add a Meal</h2>

<form action="/meals" method="POST">
  <p>Name of meal: <input type="text" name="name"></p>
  <p>Calories: <input type="number" step="50" name="calories"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
