<h2> Edit <%= @meal.name %> </h2>

<form method="POST" action="/meals/<%=@meal.id%>">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @meal.name %>" pattern="^[a-zA-Z]+$" autofocus>
  <input type="number" name="calories" value="<%= @meal.calories %>" pattern="[0-9]">
  <input type="submit" value="submit">
</form>
