<h1> Meals </h1>

<% if !@meals %>
  <a href="/meals/create_meal">
    Create your first meal!
  </a>
<% else %>
<% @meals.each do |meal| %>
  <div>
    <a href="meals/<%= meal.id %>"><%= meal.name %></a>: <%= meal.calories %> kcals
  </div>
  <% end %>
  <div>
    Total Calories: <%=@current_user.meals.pluck(:calories).sum%> kcals
  </div>

  <form method="POST" action="/meals/delete">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete All Meals">
  </form>
<% end %>
